/* titillium-web-300 - latin-ext_latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web');
  src: url('../fonts/titillium-web-v15-latin-ext_latin-300.woff2') format('woff2');
};

/* titillium-web-regular - latin-ext_latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web');
  src: url('../fonts/titillium-web-v15-latin-ext_latin-regular.woff2') format('woff2');
};

/* titillium-web-700 - latin-ext_latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web');
  src: url('../fonts/titillium-web-v15-latin-ext_latin-700.woff2') format('woff2');
};